<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  

  
  <h1><%= title %></h1>
   <p>Welcome to <%= title %></p>
<p>Our products are as follows:</p>
<img src="/Users/utkuemecan/Desktop/Assignmen1229/public/img/utkuR.jpg" alt="Italian Trulli">

   <%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>   

