<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  

  
  <h1><%= title %></h1>
   <p>Welcome Services Page<%= title %></p>
<p>List of Services</p>

   <%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>   

