<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  

  
  <h1><%= title %></h1>
  <img src="UE.png">
   <p>Welcome to <%= title %></p>
   <p>utku emecan. I am 26 years old. I am a computer engineer</p>
   <a href="/Users/utkuemecan/Desktop/Assignmen1229/public/img/UtkuEmecanCv 2.pdf"></a>

   <%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>   

